@font-face {
    src: url('NAMU-1850.ttf');
    font-family: 'namu';
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'namu', sans-serif;
    background-color: #282a36;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a {
    color: black;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('sunset.png');
}
.btn {
    user-select: none;
}
.btn:hover {
    cursor: pointer;
}
.main {
    margin: 200px 0px 0px 70px;
}
.header {
    color: #f4f4f4;
}
.header-h {
    font-size: 60px;
}
.header-uh {
    margin-top: 10px;
    font-size: 30px;
}
.more-btn {
    width: 250px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-size: 25px;
    border-radius: 10px 20px 10px 20px;
    margin-top: 50px;
    transition: 1s;
    color: black;
}
.more-btn:hover {
    transition: 1s;
    border-radius: 20px 10px 20px 10px;
}

/* content */

.about {
    position: absolute;
    top: 1150px;
    background-color: #edf6f9;
    padding: 40px;
    width: 700px;
    text-align: center;
    border-radius: 10px 20px 10px 20px;
    margin: 0px 0px 0px -50px;
}

.about-h {
    font-size: 30px;
    margin-bottom: 20px;
}
.about-a {
    font-size: 25px;
    margin-bottom: 40px;
}
.req-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 75px;
    border-radius: 10px 20px 10px 20px;
    font-size: 20px;
    background-color: white;
    margin: 0 auto;
}

.request {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 1700px;
    width: 800px;
    height: 500px;
    background-color: #edf6f9;
    border-radius: 10px 20px 10px 20px;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}
.req-desc {
    width: 500px;
    font-size: 25px;
    text-align: center;
}
.req-vk {
    outline: none;
    border: none;
    width: 350px;
    height: 40px;
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.req-vk::placeholder {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    opacity: 0.75;
}
.req-err {
    color: black;
    font-size: 20px;
}
.req-conf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 10px 20px 10px 20px;
    font-size: 20px;
    background-color: white;
    font-family: 'Namu', sans-serif;
    border: none;
}
.main-bg {
    width: 100vw;
    height: 110vh;
    background-size: 100vw 110vh;
    background-image: url('night.png');
}
.footer-bg {
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-image: url('sunrise.png');
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 290vh;
    width: 100vw;
    height: 300px;
    background-color: #1f202b;
}

.uil-vk {
    color: white;
    font-size: 40px;
}
.uil-github {
    color: white;
    font-size: 40px;
}
.nickname {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}